@import (inline) "../node_modules/bootswatch/@{theme}/bootstrap.css";

@media (min-width: 1200px) {
    .container{
        max-width: 750px;
    }
}

.contact-details {
  // text-align: right;
  span {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .identity {
    text-align: center;
    .name-role, .contact-details {
      text-align: center;
    }
  }
}

body {
  // padding-top: 20px;
  padding-bottom: 50px;
}

.sections small {
  color: grey;
  font-style: italic;
}

.container.web {
  margin-top: 80px;
}

p, h1,h2,h3,h4,h5,h6, small, li, strong {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  &.skill {
    li {
      padding-left: 16px;
    }
  }
}

ul:not(.nav):not(.skill) {
  li {
    padding-left: 16px;
    &:before {
      content: "-";
      padding-right: 8px;
    }
  }
}

h1 {
  font-weight: bolder;
  font-size: 40px;
  margin-top: 0;
}

h4 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 25px;
}

h5 {
  font-style: italic;
  margin-top: 3px;
}

hr {
  margin-top: 5px;
}

.dates {
  float: right;
  color: grey;
  margin-top: 2px;
}

.skills {
  padding-bottom: 10px;
}

/**
 * Some themes have non white background colors for containers and white
 * text. These will obviously not work for the generated pdf, much less for
 * a resume. This is an override that will force a white background over
 * dark text. We don't always want to use this, as some of the themes look
 * great with gray text and custom link colors. Application of this override
 * is controlled through gulp.
 * NOTE: the web view will be unchanged, this only affects pdf documents
 */
.container.pdf.override {
  background: #ffffff !important;
  /** turn all text black **/
  p, h1,h2,h2,h4,h5,h6, small, li, strong {color: black !important;}
  /* use the default bootstrap link color */
  a {color: #337ab7 !important;}
}
