<!DOCTYPE html>
<html>
  <head>
    {% include "meta.html" %}
  </head>
  <body>
    {% include "nav.html" %}
  <div class="container web">
    <div class="row identity">
      {% include "identity.html" %}
    </div>

    <div class="row sections">
      <div class="col-sm-12">
        {% include "summary.html" %}
      </div>
      <div class="col-sm-12">
        {% include "exp.html" %}
      </div>
      <div class="col-sm-12">
        {% include "edu.html" %}
      </div>
      <div class="col-sm-12">
        {% include "skills.html" %}
      </div>
    </div>

  </div>
  {% include "google.html" %}
  </body>
</html>
