<!DOCTYPE html>
<html>
  <head>
    {% include "meta.html" %}
    <style media="screen">
    </style>
  </head>
  <body>
  <div class="container pdf {% if pdf_override %}override{% else %}{% endif %}">
    <div class="row identity">
      {% include "identity.html" %}
    </div>

    <div class="row">
      <div class="col-sm-12">
        {% include "summary.html" %}
      </div>
      <div class="col-sm-12">
        {% include "skills.html" %}
      </div>
      <div class="col-sm-12">
        {% include "exp.html" %}
      </div>
      <div class="col-sm-12">
        {% include "projects.html" %}
      </div>
      <div class="col-sm-12">
        {% include "edu.html" %}
      </div>
    </div>

  </div>
  </body>
</html>
